/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/src/vendor
src/.env
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
.idea
.claude
../data
../docker-compose-local.yml
../docker-compose_mysql.yml
src/TRANSACTION_JOB_ARCHITECTURE.md

src/setup-gitlab-auth.sh
src/phpcs.xml
